langchain
langchain_community
langchain_google_genai
python_dotenv
streamlit
langchain_experimental
sentence_transformers
langchain_chroma
langchainhub
pypdf
rapidocr_onnxruntime
chroma
google_generativeai
PyPDF2
chromadb
faiss-cpu

